.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #272727;
  color: white;
}

.container {
  display: inline-block;
  width: 350px;
}

.h1 {
  font-size: 30px;
  font-weight: normal;
}
