.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #272727;
  color: white;
}

.container {
  display: inline-block;
  width: 350px;
  margin-bottom: 200px;
}

button {
  width: 100%;
  background: none;
  border: 1px solid #c06286;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  transition-duration: 0.3s;
  color: #c06286;
  height: 50px;
}
button:hover {
  background: #c06286;
  color: white;
  border: #c06286;
}
button:active {
  background: #885095;
}

.break {
  width: 100%;
  height: 1px;
  background: black;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, #e6c5d2 0%, #ca859f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 36px;
  text-align: left;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
h4 {
  font-size: 14px;
  font-weight: normal;
}
h5 {
  font-size: 12px;
  font-weight: normal;
}

.list-transition-enter {
  opacity: 0;
  transition: all 600ms;
}
/* This is where we can add the transition*/
.list-transition-enter-active {
  opacity: 1;
}
