.connectedAddress {
  width: 100%;
  height: 30px;
  background: #382d4f;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
.addText {
  width: 100%;
  font-size: 14px;
  color: #a877c3;
}
.networkInput {
  background: #ab78c5;
  border: 1px solid #ab78c5;
  border-radius: 5px;
  height: 30px;

  margin-bottom: 10px;
}
