.NFTBtn {
  padding: 0px;
  height: 350px;
  border-color: white;
}
.NFTBtn:hover {
  border: #ab78c5 6px solid !important;
}
.NFTBtn:active {
  border: #c06286 6px solid !important;
}
.addTokenBtn {
  height: 40px;
  background-color: #7b578e;
  font-size: 18px;
  border: none;
  color: white;
  width: 323px;
  margin-bottom: 10px;
  height: 36px;
}
.addTokenBtn:hover {
  background: #a978c4;
}
