.NFTBtn {
  padding: 0px;
  height: 350px;
  border-color: white;
}
.NFTBtn:hover {
  border: #ab78c5 6px solid !important;
}
.NFTBtn:active {
  border: #c06286 6px solid !important;
}
.addTokenBtn {
  height: 40px;
  background-color: #c06286;
  font-size: 18px;
  border: none;
  color: white;
  margin-top: 10px;
  height: 36px;
}
.addTokenBtn:hover {
  background: #d86d96;
}

input {
  width: 346px;
  padding: 0px;
  height: 40px;
  border-radius: 5px;
  border: 1px #ab78c5 solid;
  stroke: none;
  background: linear-gradient(90deg, #2e3f58 0%, #2b3440 100%);
  color: #ab78c5;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0;
}
::placeholder {
  color: #ab78c5;
}

.b2 {
  overflow-y: auto;
}
.row {
  display: flex;
  margin-bottom: 10px;
}
.col {
  flex: 50%;
  height: 35px;
  display: flex;
  align-items: right;
  align-content: right;
  text-align: right;
  display: inline-block;
}
.removeIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: -5px;
  margin-bottom: -5px;
}
.removeBtn {
  height: 30px;
  border-radius: 20px;
  background: none;
  border: #a978c4 1px solid;
  z-index: 1;
  color: #a978c4;
  font-size: 18px;
}
.removeBtn:hover {
  background: #a978c4;
  color: white;
}
.tokenIcon {
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 20px;
}

.titleBtnBar {
  display: flex;
  margin-top: 30px;
}
.titleBtnBarRight {
  flex: 50%;

  text-align: right;
}
.pageBtn {
  height: 30px;
  border-radius: 20px;
  background: #c06286;
  border: none;
  z-index: 1;
  color: white;
  font-size: 18px;
}
.pageBtn:hover {
  background: #d86f97;
}
.priceText {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 15px;
}
